// fonts
@import url('https://fonts.googleapis.com/css?family=Rubik&display=swap');

// colors
$white: #fff;
$snow-white: #f6faff;
$snow-light: #eceff4;
$snow-medium: #e5E9f0;
$polar-dark: #2e3440;

// breakpoints
$breakpoints: (
  nano: 400px,
  mini: 480px,
  small: 769px,
  normal: 1200px,
  large: 1440px
);

$breakpoint-mini: map-get($breakpoints, 'mini');
$breakpoint-small: map-get($breakpoints, 'small');
$breakpoint-normal: map-get($breakpoints, 'normal');
$breakpoint-large: map-get($breakpoints, 'large');
