<div id="navbar" class="navbar">
  <ul class="nav-options">
    <li id="menu-button" class="nav-option menu-option">
      <a class="nav-link icon-menu">MENU</a>
    </li>

    <li class="nav-option menu-option">
      <a class="nav-link"><span>HOME</span></a>
    </li>

    <li class="nav-option menu-option">
      <a class="nav-link"><span>ABOUT</span></a>
    </li>

    <li class="nav-option menu-option">
      <a class="nav-link"><span>FEATURED</span></a>
    </li>

    <li class="nav-option menu-option">
      <a class="nav-link"><span>COMMENTS</span></a>
    </li>

    <li class="nav-option menu-option">
      <a class="nav-link"><span>MY ACCOUNT</span></a>
    </li>
  </ul>
</div>

<div id="toggle-nav" class="toggle-nav closed-toggle-nav">
  <div id="toggle-nav-menu">
    <ul>
      <li class="nav-option toggle-option">
        <a class="nav-link"><span>MY POSTS</span></a>
      </li>

      <li class="nav-option toggle-option">
        <a class="nav-link"><span>WRITE A POST</span></a>
      </li>

      <li class="nav-option toggle-option">
        <a class="nav-link"><span>SETTINGS</span></a>
      </li>

      <li class="nav-option toggle-option">
        <a class="nav-link"><span>BECOME A WRITER!</span></a>
      </li>
    </ul>
  </div>
</div>
